  html, body {
  background-color: rgb(22, 22, 22);
  font-family: 'Lato', sans-serif;
  margin: 0;
    }


  .about {
  transition: all 1s;
  width: 30%;
  margin-left: 35%;
  background-color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2%;
  }



  .phoneimg{
    
    margin-left: 67%;
    position: absolute;
   
    
  }

  .cataloginvisbox{
    border: 5px solid white;
    width: 23%;
    height: 100%;
    position: fixed;
    opacity: 0;
  }


  .phoneimg img{
   
   
    border-radius: 20px;
    width: 23%;
    height: 20%;
    
  }

   .catmenumob{
    display: none;
   }

  @media screen and (max-width: 500px) {
    .catalog{
      border: 10px solid rgb(182, 182, 182);
      border-top-right-radius: 10%;
      width: 23%;
      position: fixed;
      height: 100%;
      background-color: rgb(182, 182, 182);
      transition: all 0.5s;
    }
  
    .catmenumob{
      pointer-events: none;
      display: block;
      position: absolute;
      margin-left: 10%;
      color: white;
      
     }
  
  
    .catalog h1 {
   display: none;
    }

      .phoneimg img{
       margin-top: 5%;
        margin-left: 50%;
        width: 35%;
        height: 35%;
        }
        
        .about {
          transition: all 1s;
          width: 40%;
          margin-left: 30%;
          background-color: rgb(212, 212, 212);
          border: 1px solid rgb(212, 212, 212);
          border-radius: 10px;
          text-align: center;
          margin-bottom: 2%;
          
          }
   }
  
   
  

   

  .Amsg {
  margin-top: 5%;
  border: 1px solid rgb(212, 212, 212);
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  
  }

  .Amsg p{
  color: rgb(22, 22, 22);
  font-size: 100%;
  text-align: center;
  }

  .back {
  background-color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
 text-align: center;
  }

  .client p{
      text-align: center;
      border: 5px solid rgb(212, 212, 212);
      background-color: rgb(212, 212, 212);
      border-radius: 10px;
      
  }

  

  .personal p{
     color: black;
     margin-top: 1.5%;
      margin-bottom: 1.5%;
      text-align: center;
      border: 5px solid rgb(212, 212, 212);
      background-color: rgb(212, 212, 212);
      border-radius: 10px;
  }

  .catalog{
    text-align: center;
    border: 10px solid rgb(182, 182, 182);
    border-top-right-radius: 10%;
    width: 23%;
    position: fixed;
    height: 100%;
    background-color: rgb(182, 182, 182);
    transition: all 0.5s;
  }

 


  .catalog p {
   
   border: 5px solid rgb(212, 212, 212);
   border-radius: 10px;
   background-color: rgb(212, 212, 212);
  }
  
  .img1{
      
      border: 2px solid grey;
      border-radius: 2%;
      background-image: linear-gradient(rgb(151, 151, 151), rgb(197, 2, 2), grey);
      
  }
  .img1 img{
      margin-left: 25%;
      border: 1px solid rgb(151, 151, 151);
      border-radius: 2%;
     
  }
  .img1 p{
      font-size: 75%;
      color: white;
      text-align: center;
  }

  .img2{
       
      margin-bottom: 3%;
      border: 2px solid rgb(238, 238, 49);
      border-radius: 3%;
      background-image: linear-gradient(to bottom right, rgb(238, 238, 49), rgb(197, 2, 2), rgb(238, 238, 49));
      padding-bottom: 10.5%;
      
  }
  .img2 img{
      float: left;
      border: 1px solid rgb(238, 238, 49);
      border-radius: 5%;
     
  }
  .img2 p{
      color: white;
      text-align: center;
      
  }

  .img3{
       
      padding-bottom: 10.3%;
      border: 2px solid grey;
      border-radius: 2%;
      background-image: linear-gradient(to bottom right,rgb(151, 151, 151),black, grey);
  }
  .img3 img{
      float: left;
      border: 1px solid rgb(151, 151, 151);
      border-radius: 5%;
     
  }
  .img3 p{
      color: white;
      text-align: center;
  }

  .contactform p{
      text-align: center;
      color: white;
  }

  .contactform label{
      color: white;
  }

  .contactform {
      margin-top: 3%;
     border: 5px solid black;
     background-color: black;
  }

.contactform p{
   font-size: 70%;
}

.contactform .emailtxt p{
  font-size: 100%;
}

  .phoneback p{
  background-color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
 text-align: center;
  }
  


    .gacorplay{
      border: 5px solid rgb(212, 212, 212);
      background-color: rgb(212, 212, 212);
      
    }

    .gacorplay .gacorplayin p{
      text-align: center;
      
    }

    .gacorplay .gacorplayin button{
      margin-left: 47%;
      
    }

    .gacorplay .gacorplayin input{
      margin-left: 45%;
      
    }

    @media screen and (max-width: 500px) {
      .gacorplay .gacorplayin button{
          
          margin-left: 41%;
        }
        .gacorplay .gacorplayin input{
          margin-left: 25%;
        }
   }
    
    
