

body{
    background-image: radial-gradient(black, grey, white);
    font-family:'Permanent Marker', cursive;}
    
    
    
    html, body {
        margin: 0;
      }


    .about {
    background-image: radial-gradient(grey, white, black);
    width: 30%;
    margin-left: 35%;
    border-radius: 10%;
    border-style: outset;
    border-left-color: white;
    border-right-color: rgb(43, 42, 42);
    border-top-color: white;
    border-bottom-color:rgb(43, 42, 42);
    text-align: center;
    margin-bottom: 1%;
    }

    .phoneimg img{
      margin-left: 45.5%;
      width: 10%;
      height: 10%;
    }

    .phoneimg p{
        text-align: center;
        font-size: 80%;
      }

    @media screen and (max-width: 500px) {
        .phoneimg img{
            width: 20%;
            margin-left: 41%;
          }
          .phoneimg p{
            text-align: center;
            font-size: 80%;
          }
     }
    
     

    .Amsg {
    margin-top: 5%;
    border-style: outset;
    border-left-color: white;
    border-right-color: rgb(43, 42, 42);
    border-top-color: white;
    border-bottom-color:rgb(43, 42, 42);
    border-radius: 5%;
    }

    .Amsg p{
    color: white;
    font-size: 100%;
    text-align: center;
    }

    .back {
    background-image: radial-gradient(grey, white, black);
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 10%;
    border-style: outset;
    border-left-color: white;
    border-right-color: rgb(43, 42, 42);
    border-top-color: white;
    border-bottom-color:rgb(43, 42, 42);
    text-align: center;
    }

    .client p{
        text-align: center;
        border: 5px solid white;
        background-color: white;
        
    }

    .personal {
        margin-top: 2%;
        margin-bottom: 4%;
        text-align: center;
        border: 5px solid black;
        background-color: black;
       
    }

    .personal p{
       color: white;
    }
    
    .img1{
        border: 2px solid grey;
        border-radius: 2%;
        background-image: linear-gradient(rgb(151, 151, 151), rgb(197, 2, 2), grey);
        
    }
    .img1 img{
        margin-left: 25%;
        border: 1px solid rgb(151, 151, 151);
        border-radius: 2%;
       
    }
    .img1 p{
        font-size: 75%;
        color: white;
        text-align: center;
    }

    .img2{
        margin-bottom: 3%;
        border: 2px solid rgb(238, 238, 49);
        border-radius: 3%;
        background-image: linear-gradient(to bottom right, rgb(238, 238, 49), rgb(197, 2, 2), rgb(238, 238, 49));
        padding-bottom: 10.5%;
        
    }
    .img2 img{
        float: left;
        border: 1px solid rgb(238, 238, 49);
        border-radius: 5%;
       
    }
    .img2 p{
        color: white;
        text-align: center;
        
    }

    .img3{
        padding-bottom: 10.3%;
        border: 2px solid grey;
        border-radius: 2%;
        background-image: linear-gradient(to bottom right,rgb(151, 151, 151),black, grey);
    }
    .img3 img{
        float: left;
        border: 1px solid rgb(151, 151, 151);
        border-radius: 5%;
       
    }
    .img3 p{
        color: white;
        text-align: center;
    }

    .contactform p{
        text-align: center;
        color: white;
    }

    .contactform label{
        color: white;
    }

    .contactform {
        margin-top: 3%;
       border: 5px solid black;
       background-color: black;
    }

    .phoneback p{
        background-image: radial-gradient(grey, white, black);
        width: 30%;
        margin-left: 35%;
        margin-top: 5%;
        border-radius: 10%;
        border-style: outset;
        border-left-color: white;
        border-right-color: rgb(43, 42, 42);
        border-top-color: white;
        border-bottom-color:rgb(43, 42, 42);
        text-align: center;
    }

    
    
